<div id="preview">

    <!-- Row 1 -->
    <div class="tiles wtl"></div>
    <div class="tiles wt"></div>
    <div class="tiles wt"></div>
    <div class="tiles wt"></div>
    <div class="tiles wt"></div>
    <div class="tiles wt"></div>
    <div class="tiles wt"></div>
    <div class="tiles wt"></div>
    <div class="tiles wt"></div>
    <div class="tiles wt"></div>
    <div class="tiles wt"></div>
    <div class="tiles wt"></div>
    <div class="tiles wt"></div>
    <div class="tiles wt"></div>
    <div class="tiles wt"></div>
    <div class="tiles wt"></div>
    <div class="tiles wt"></div>
    <div class="tiles wtr"></div>

    <!-- Row 2 -->
    <div class="tiles wl"></div>
    <div class="tiles b">
        <div class="portal active"></div>
    </div>
    <div class="tiles b">
        <div class="portal empty"></div>
    </div>
    <div class="tiles b"></div>
    <div class="tiles b">
        <div class="splats spl1r"></div>
    </div>
    <div class="tiles b">
        <div class="splats spl2b"></div>
    </div>
    <div class="tiles b">
        <div class="splats spl1b"></div>
    </div>
    <div class="tiles b">
        <div class="splats spl2r"></div>
    </div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b">
        <div class="tiles bmb"></div>
    </div>
    <div class="tiles wr"></div>

    <!-- Row 3 -->
    <div class="tiles wl"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b">
        <div class="tiles spk"></div>
    </div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b">
        <div class="tiles spk"></div>
    </div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b">
        <div class="tiles wotr1"></div>
    </div>
    <div class="tiles wtr"></div>
    <div class="tiles gw"></div>
    <div class="tiles b"></div>
    <div class="tiles wr"></div>

    <!-- Row 4 -->
    <div class="tiles wl"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b">
        <div class="tiles wotr2"></div>
    </div>
    <div class="tiles wtr"></div>
    <div class="tiles b"></div>
    <div class="tiles wr"></div>

    <!-- Row 5 -->
    <div class="tiles wl"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b">
        <div class="tiles br pd"></div>
    </div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b">
        <div class="tiles wotr3"></div>
    </div>
    <div class="tiles b"></div>
    <div class="tiles wr"></div>

    <!-- Row 6 -->
    <div class="tiles wl"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles wr"></div>

    <!-- Row 7 -->
    <div class="tiles wl"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b">
        <div class="tiles yflg"></div>
    </div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles wr"></div>

    <!-- Row 8 -->
    <div class="tiles wl"></div>
    <div class="tiles b">
        <div class="tiles jj"></div>
    </div>
    <div class="tiles b"></div>
    <div class="tiles b">
        <div class="tiles rb"></div>
    </div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles wr"></div>

    <!-- Row 9 -->
    <div class="tiles wl"></div>
    <div class="tiles b"></div>
    <div class="tiles b">
        <div class="tiles tp"></div>
    </div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b">
        <div class="speedpad active"></div>
    </div>
    <div class="tiles b">
        <div class="speedpad empty"></div>
    </div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b">
        <div class="speedpadred active"></div>
    </div>
    <div class="tiles b">
        <div class="speedpadred empty"></div>
    </div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b">
        <div class="speedpadblue active"></div>
    </div>
    <div class="tiles b">
        <div class="speedpadblue empty"></div>
    </div>
    <div class="tiles b"></div>
    <div class="tiles wr"></div>

    <!-- Row 10 -->
    <div class="tiles wl"></div>
    <div class="tiles b">
        <div class="tiles jj"></div>
    </div>
    <div class="tiles b"></div>
    <div class="tiles b">
        <div class="tiles tp"></div>
    </div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles wr"></div>

    <!-- Row 11 -->
    <div class="tiles wl"></div>
    <div class="tiles b"></div>
    <div class="tiles b">
        <div class="tiles tp"></div>
    </div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b">
        <div class="tiles rflg"></div>
    </div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b">
        <div class="tiles bflg"></div>
    </div>
    <div class="tiles b"></div>
    <div class="tiles wr"></div>

    <!-- Row 12 -->
    <div class="tiles wl"></div>
    <div class="tiles b">
        <div class="tiles rb"></div>
    </div>
    <div class="tiles b"></div>
    <div class="tiles b">
        <div class="tiles rb"></div>
    </div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles rac"></div>
    <div class="tiles ra"></div>
    <div class="tiles rw"></div>
    <div class="tiles b"></div>
    <div class="tiles bac"></div>
    <div class="tiles ba"></div>
    <div class="tiles bw"></div>
    <div class="tiles wr"></div>

    <!-- Row 13 -->
    <div class="tiles wl"></div>
    <div class="tiles b"></div>
    <div class="tiles b">
        <div class="tiles jj"></div>
    </div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles rac"></div>
    <div class="tiles ra"></div>
    <div class="tiles rw"></div>
    <div class="tiles b"></div>
    <div class="tiles bac"></div>
    <div class="tiles ba"></div>
    <div class="tiles bw"></div>
    <div class="tiles wr"></div>

    <!-- Row 14 -->
    <div class="tiles wl"></div>
    <div class="tiles b">
        <div class="tiles tp"></div>
    </div>
    <div class="tiles b"></div>
    <div class="tiles b">
        <div class="tiles rb"></div>
    </div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles rac"></div>
    <div class="tiles ra"></div>
    <div class="tiles rw"></div>
    <div class="tiles b"></div>
    <div class="tiles bac"></div>
    <div class="tiles ba"></div>
    <div class="tiles bw"></div>
    <div class="tiles wr"></div>

    <!-- Row 15 -->
    <div class="tiles wl"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b">
        <div class="tiles bb moving"></div>
    </div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles wr"></div>

    <!-- Row 16 -->
    <div class="tiles wlnb"></div>
    <div class="tiles wt"></div>
    <div class="tiles wtr"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b">
        <div class="tiles swt"></div>
    </div>
    <div class="tiles b switching"></div>
    <div class="tiles b switching"></div>
    <div class="tiles b switching"></div>
    <div class="tiles b switching"></div>
    <div class="tiles b switching"></div>
    <div class="tiles b switching"></div>
    <div class="tiles b switching"></div>
    <div class="tiles wr"></div>

    <!-- Row 17 -->
    <div class="tiles wl"></div>
    <div class="tiles b">
        <div class="tiles bmb2"></div>
    </div>
    <div class="tiles wr"></div>
    <div class="tiles b">
        <div class="tiles swt"></div>
    </div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles b"></div>
    <div class="tiles wr"></div>

    <!-- Row 18 -->
    <div class="tiles wbl"></div>
    <div class="tiles wb"></div>
    <div class="tiles wbnb"></div>
    <div class="tiles wb"></div>
    <div class="tiles wb"></div>
    <div class="tiles wb"></div>
    <div class="tiles wb"></div>
    <div class="tiles wb"></div>
    <div class="tiles wb"></div>
    <div class="tiles wb"></div>
    <div class="tiles wb"></div>
    <div class="tiles wb"></div>
    <div class="tiles wb"></div>
    <div class="tiles wb"></div>
    <div class="tiles wb"></div>
    <div class="tiles wb"></div>
    <div class="tiles wb"></div>
    <div class="tiles wbr"></div>

</div>
